.certificate-section{
    padding: 3.5rem 10%;
    background: var(--red-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.certificate-section__wraper{
    max-width: 1200px;
}
.certificate-section img{
    max-width: 203px;
}
.certificate-section__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    position: relative;
}
.certificate-section-title{
    font-size: 1.375rem;
    margin-bottom: 3%;
}
.certificate-section-subtitle{
    font-size: 1rem;
    line-height: 1.6rem;
}
.certificate-section__form{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.certificate-section__form>input{
    width: 100%;
    height: 50px;
    margin-bottom: 1.87rem;
    padding: .87rem 1.4rem;
    border-radius: 70px;

    outline: none;
}
.certificate-section__btn{
    max-width: 380px;
    width: 100%;
    height: 50px;
    padding: .87rem 1.4rem;
    border-radius: 70px;

    font-size: 1rem;
    font-weight: bold;
    background:var(--red-color);
    border: 3px solid white;
    color:white;
}

@media (min-width:992px){

    .certificate-section img{
        position: absolute;
        left: 60%;
        top: -10%;
        max-width: 300px;
    }
    .certificate-section__text{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15%;
    }
    .certificate-section__text-text{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .certificate-section__form{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
    }
    .certificate-section__form>input{
        width: 21%;
        height: 50px;
        margin-bottom: 0;
        padding: .87rem 1.4rem;
        border-radius: 70px;
    
        outline: none;
    }
    .certificate-section__btn{
        max-width: 380px;
        width: 21%;
        height: 50px;
        border-radius: 70px;
        
        padding: 0;
        font-size: .65rem;
        font-weight: bold;
        background:var(--red-color);
        border: 3px solid white;
        color:white;
    }
}